
body{
  background-color: #371b58;
}
.animate-slide {
  animation: slide 0.5s ease-in-out;
  right: -100%;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
    right: 0;
  }
}
